/* RESETS, GLOBALS */
*
{
	border: 0;
	margin: 0;
	outline: none;
	padding: 0;
}
@font-face
{
	font-family: 'atkinson_hyperlegibleregular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/atkinson-hyperlegible-regular-102-webfont.woff2') format('woff2'),
 url('../fonts/atkinson-hyperlegible-regular-102-webfont.woff') format('woff');
}
:root
{
    --maintxt-clr: #00202A;;
	--about-clr: #00ff00;
	--contact-clr: #4b0082;
	--covid-clr: #FFEE00;
	--events-clr: #6495ED;
	--gallery-clr: #C52C66;
    --mainfnt-clr: #00202A;
    --facebook-clr: #0071EB;
    --twitter-clr: #247CB2;
    --instagram-clr: #C32AA3;
    --offwhite-clr: #F5F5F5;
    --lightgrey-clr: #CCCCCC;
}
body,
html
{
	color: var(--maintxt-clr);
	font-family: "atkinson_hyperlegibleregular", sans-serif;
	font-size: 1rem;
	font-weight: 100;
	height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
	width: 100vw;
}
/* CREDIT: Theodore K. 09/08/2016 Stackoverflow - https://stackoverflow.com/questions/38850419/how-to-create-multi-color-border-with-css  */
.fancy-border
{
	-o-border-image: linear-gradient(to right, red 25%, orange 25%, yellow 50%,green 50%, blue 75%, indigo 75%, violet 95%) 5;
	   border-image: -webkit-linear-gradient(left, red 25%, orange 25%, yellow 50%,green 50%, blue 75%, indigo 75%, violet 95%) 5;
	   border-image: linear-gradient(to right, red 25%, orange 25%, yellow 50%,green 50%, blue 75%, indigo 75%, violet 95%) 5;
	border-top: 1px solid;
	width: 100%;
}
.shadow
{
	box-shadow: 22px 22px 10px -19px rgba(205,205,205,0.25);
}
.cursor-pointer
{
	cursor: pointer;
}
.pink-bg
{
	background-color: var(--gallery-clr);
}
.pink-txt
{
	color: var(--gallery-clr);
}
.blue-bg
{
	background-color: var(--facebook-clr);
}
.blue-txt
{
	color: var(--facebook-clr);
}
.purple-txt
{
	color: var(--gallery-clr);
}

/* OVERWRITES bootstrap & font awesome */
.fa-external-link-alt
{
	font-size: .5rem;
}
a
{
	background-color: transparent;
	color: var(--maintxt-clr);
	text-decoration: none;
}
a:hover
{
	color: var(--maintxt-clr);
	text-decoration: none;
}
.btn-outline-primary
{
	border-color: var(--facebook-clr);
	color: var(--facebook-clr);
}

/* CUSTOM SECTION STYLING */
.custom-section
{
	padding-top: 5rem;
}
.custom-section .text-container
{
	margin-bottom: 3rem;
}
.custom-section h2
{
	margin-bottom: 1.375rem;
}

/* NAVBAR */
.navbar-custom
{
	background-color: var(--white);
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	padding-bottom: 0.375rem;
	padding-top: 0.375rem;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.logo-image img
{
	width: 7.5rem;
}
.nav-link
{
	font-size: 1.25rem;
	padding: 0.75rem 0 0.75rem 0;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.navbar-custom .navbar-toggler
{
	border: none;
	color: var(--lightgrey-clr);
	font-size: 2rem;
	outline: none;
}
.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times
{
	display: none;
}
.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars
{
	display: inline-block;
}
.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars
{
	display: none;
}
.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times
{
	display: inline-block;
	margin-right: 0.125rem;
}

/* HOME SECTION */
.header
{
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../images/hero.jpg') center center no-repeat;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../images/hero.jpg') center center no-repeat;
	background-size: cover;
	height: 100%;
	max-height: 100vh;
}
.header .header-content
{
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: inherit;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-bottom: 2.125rem;
	text-align: center;
}
.header h1
{
	margin-bottom: 0.5rem;
}
.header .btn
{
	margin-bottom: 1.25rem;
	margin-right: 0.5rem;
}
.btn-toolbar
{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/* EVENTS SECTION */
/* John D. Jameson - 26/07/2018 - https://css-tricks.com/styling-underlines-web */
.pLink
{
	-webkit-text-decoration-color: var(--lightgrey-clr);
	        text-decoration-color: var(--lightgrey-clr);
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
}
.pLink:hover
{
	color: var(--lightgrey-clr);
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
}
.facebook
{
	color: var(--facebook-clr);
}
.twitter
{
	color: var(--twitter-clr);
}
.instagram
{
	color: var(--instagram-clr);
}
.subscribe
{
	color: var(--contact-clr);
}
#cardList
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}
.event
{
	border-radius: .25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.event-item:nth-child(1)
{
	border-radius: .25rem;
	color: var(--white);
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 6rem;
	        flex: 0 0 6rem;
	-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 0;
	        order: 0;
	padding: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}
time
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
time > span:nth-child(1)
{
	font-size: 2.5rem;
}
time > span:nth-child(2)
{
	font-size: 1.5rem;
}
.event-item:nth-child(2)
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-left: .5rem;
}
.event-item:nth-child(2) > div
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.event-item:nth-child(2) > h3
{
	font-size: 1.25rem;
}
.event-item:nth-child(2) > div:nth-child(5)
{
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.footnote
{
	font-size: .75rem;
	font-weight: lighter;
}
.covid19
{
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}
.event.covid19 > div:nth-child(1)
{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: var(--covid-clr);
	border-radius: .25rem;
	color: var(--black) !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 0;
	        order: 0;
	padding: 0;
}

/* GALLERY SECTION */
.carousel-arrows
{
	color: var(--maintxt-clr);
	font-size: 2rem;
}

/* CONTACT SECTION */
.contact-list
{
	list-style: none;
}
.contact-list li
{
	margin-bottom: 1rem;
}
.contact-list .fas,
.contact-list .fab
{
	font-size: 0.875rem;
	line-height: 0;
	margin-right: 0.5rem;
}
#contact
{
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/map.jpg')no-repeat center center fixed;
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/map.jpg')no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
}
form
{
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
}

/* MEDIA QUERIES */
/* TABLETS & DESKTOP DEVICES */
@media (min-width: 992px)
{
	.navbar-expand-lg .navbar-nav .nav-link
	{
		border-right: thin solid var(--offwhite-clr); 
		padding: 0 2.5rem;
	}
	#navbar > ul > li:hover > a
	{
		font-size: 1.1em;
	}
	#aboutLink:hover > a
	{
		border-right: thin solid var(--about-clr);
		color: var(--about-clr);
	}
	#eventsLink:hover > a
	{
		border-right: thin solid var(--events-clr);
		color: var(--events-clr);
	}
	#galleryLink:hover > a
	{
		border-right: thin solid var(--gallery-clr);
		color: var(--gallery-clr);
	}
	#contactLink:hover > a
	{
		border-right: thin solid var(--contact-clr);
		color: var(--contact-clr);
	}
	.header .text-container
	{
		margin-top: 6.5rem;
	}
	.custom-section
	{
		height: 100vh;
	}
	.custom-section .text-container
	{
		margin-bottom: 0;
	}
}

/* MOBILE DEVICES */
@media (max-width: 768px)
{
	.event
	{
		margin-bottom: 1rem;
	}
}