/* Globals & Resets */
* {
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: none;
   }

a {
	color: #00202A;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #00202A;
    text-decoration: none;
}

/* https://stackoverflow.com/questions/47269189/bootstrap-v4-css-class-for-pointer-cursor */
 .cursor-pointer{
	cursor: pointer;
  }

@font-face {
    font-family: 'atkinson_hyperlegibleregular';
    src: url('../fonts/atkinson-hyperlegible-regular-102-webfont.woff2') format('woff2'),
         url('../fonts/atkinson-hyperlegible-regular-102-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
	width: 100vw;
    height: 100vh;
    max-width:100%; 
    overflow-x: hidden;
	font-family: "atkinson_hyperlegibleregular", sans-serif;
	font-weight: 100;
	font-size: 1rem;
	color: #00202A;
}

/* CREDIT: Theodore K. 09/08/2016 Stackoverflow - https://stackoverflow.com/questions/38850419/how-to-create-multi-color-border-with-css  */
.fancy-border {
    width: 100%;
    border-top: 1px solid;
	border-image: linear-gradient(to right, red 25%, orange 25%, yellow 50%,green 50%, blue 75%, indigo 75%, violet 95%) 5;
}

.shadow {	
    box-shadow: 22px 22px 10px -19px rgba(205,205,205,0.25);
}

:root {
    --about-clr: #00ff00;
    --events-clr: #6495ed;
    --gallery-clr: #c52c66;
    --contact-clr: #4b0082;
    --covid-clr: #FFEE00;
}

.pink-bg {
   background-color: var(--gallery-clr);
}
.pink-txt{
    color: var(--gallery-clr);
}
.blue-bg {
    background-color: var(--events-clr);
}
.blue-txt {
    color: var(--events-clr);
}
.purple-txt {
    color: var(--gallery-clr);
}

/* Navbar */
.navbar-custom {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	transition: all 0.2s;
	background-color: white;
}

.logo-image img {
    width: 7.5rem;
}

.nav-link {
    padding: 0.75rem 0 0.75rem 0;
    text-decoration: none;
	transition: all 0.2s ease;
	text-align: center;
    font-size: 1.25rem;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #CCC;
	font-size: 2rem;
	outline: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}

/* Home Section */
.header {
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../images/hero.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 100vh;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 2.125rem;
	text-align: center;
}

.header h1 {
	margin-bottom: 0.5rem;
}

.header .btn {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}

.btn-toolbar {
    justify-content: center;
}

.basic-1 {
	padding-top: 6.875rem;
    padding-bottom: 3rem;
   } 

.basic-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
}

/* Events Section & Events Cards */
#cardList {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	border-radius: .25rem;
}

.event-item:nth-child(1) {
    order: 0;
    flex: 0 0 6rem;
    color: rgb(255, 255, 255);
	border-radius: .25rem;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
    
time {
	display: flex;
	flex-direction: column;
}
time > span:nth-child(1){
	font-size: 2.5rem;
}
time > span:nth-child(2){
	font-size: 1.5rem;
}

.event-item:nth-child(2) {
	flex: 1 1 auto;
	display: flex;
    flex-direction: column;
	padding-left: .5rem;
	justify-content: space-between;
}
.event-item:nth-child(2) > div {
	display: flex;
}

.event-item:nth-child(2) > div:nth-child(5) {
	justify-content: flex-end;
}

.footnote{
	font-size: .75rem;
	font-weight: lighter;
}

/* John D. Jameson - 26/07/2018 - https://css-tricks.com/styling-underlines-web */
.pLink {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: #CCC;
}

.pLink:hover {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	color: #CCC;
}
.facebook {
	color: #1877f2;
}
.twitter {
	color: #1da1f2;
}
.instagram {
	color: #c32aa3;
}
.subscribe {
	color: indigo;
}

.covid19 {
	flex-wrap: nowrap;
}

.event.covid19 > div:nth-child(1) {
	order: 0;
    flex: 0 1 auto;
    background-color: var(--covid-clr);
    color: #000 !important;
    border-radius: .25rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gallery Section */
.carousel-arrows {
    font-size: 2rem;
    color: #00202A;
}

/* Contact */

.contact-list {
    list-style: none;

}
.contact-list li {
	margin-bottom: 1rem;
}
.contact-list .fas,
.contact-list .fab {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	line-height: 0;
}

#contact {
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/map.jpg')no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
form {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
}



/* Media Queries */

/* -- Desktop / Large Tablet -- */
@media (min-width: 992px){
    
	.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 2.5rem;
	border-right: thin solid #F5F5F5;
	}

	#navbar > ul > li:hover > a {
		font-size: 1.1em;
    }
    
	#aboutLink:hover > a {
		color: var(--about-clr);
		border-right: thin solid var(--about-clr);
    }
    
	#eventsLink:hover > a {
		color: var(--events-clr);
		border-right: thin solid var(--events-clr);
    }
    
	#galleryLink:hover > a {
        color: var(--gallery-clr);
        border-right: thin solid var(--gallery-clr);
    }
    
	#contactLink:hover > a {
        color: var(--contact-clr);
        border-right: thin solid var(--contact-clr);
    }

	.header .text-container {
		margin-top: 6.5rem;
    }
    
    .basic-1 {
        height: 100vh;
	}
	.basic-1 .text-container {
		margin-bottom: 0;
	}
    
}

@media (max-width: 768px) {
.event{
	margin-bottom: 1rem;
}
    
}